<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <!-- 4-part: digi-nuget-dev-local aggregated by the digi-nuget virtual repo -->
    <add key="digi-nuget" value="https://mcodevisionaryorg.jfrog.io/artifactory/api/nuget/v3/digi-nuget/index.json" />
  </packageSources>
</configuration>
